.geral-boxes{
    width: 100%;
    float: left;
}
.box1,.box2,.box3{
    width: 100%;
    float: left;
    height: 500px;
}
.box1{
    background-color: #eee;
}
.box2{
    background-color: #bbb;
}.box3{
    background-color: #ccc;
}
.geral-boxes{
    width: 100%;
    float: left;
}
.laranja{
    width: 100%;
    float: left;
}

.scroll-aparecer{
    width: 100%;
    float: left;
    background-color: #000;
    position: fixed;
    bottom: 0;
    display: block;
}